<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetAgency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NetAgencyPacketTunnel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A8708311FFB5DD700CC6BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A8708491FFB5DD800CC6BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A8708541FFB5DD800CC6BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6A2BEBF1FFC5DC700480921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
